/*Elementos utilizados por primera vez por index.html*/
body{		/*Especificidad del selector = (001)*/
	box-sizing: border-box;
	border: solid white 10px;
	margin: 0% 70% 20% 0%;
	padding: 1.5% 7%;
	background-color:#EFB530; 
    color: black;
	font-family: Verdana, Tahoma, sans-serif;
    line-height: 1.5;
	word-wrap: break-word;
}
h1 {		/*Especificidad del selector = (001)*/
    font-size: x-large;
}
img{		/*Especificidad del selector = (001)*/
	height:1%;
	width: 5%;
	margin: 0% 2%;
}
form{
	box-sizing: border-box;
	border: solid #494439 10px;
	background-color:#494439;
	margin: 0% 30% 0% 9%;
}
@media screen and (max-width: 1400px){
	body{	/*Especificidad del selector = (001)*/
		height: auto;
		width:auto;
	}
}